<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>github.com.skar404.alfred-translate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04EDFF03-9802-46EC-852B-43F60A8872AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01FC33B9-7FB9-470F-B4B5-27143EF22566</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D4D8DAF-8639-4B9E-A180-CB3ABC00284F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D89CFBD-DEFA-4E74-94B5-C1C6614248DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30DB9203-1D6E-4008-9866-34AD6E273098</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD4505C2-C54E-40FF-B291-B93FA9173EA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>471BDD4E-AC19-42B4-B85A-049E4C247961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30DB9203-1D6E-4008-9866-34AD6E273098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A3463A4-B6D3-4F31-8478-0D22D8060F62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>471BDD4E-AC19-42B4-B85A-049E4C247961</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>CD4505C2-C54E-40FF-B291-B93FA9173EA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D4D8DAF-8639-4B9E-A180-CB3ABC00284F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0DD86ED-9163-4939-93A6-F063F6573A4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A3463A4-B6D3-4F31-8478-0D22D8060F62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Denis Malina</string>
	<key>description</key>
	<string>translate</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>translate</string>
				<key>script</key>
				<string>./app_build -command translate -value "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>translate</string>
				<key>title</key>
				<string>translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>04EDFF03-9802-46EC-852B-43F60A8872AF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:text}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>01FC33B9-7FB9-470F-B4B5-27143EF22566</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3D89CFBD-DEFA-4E74-94B5-C1C6614248DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./app_build -command setting -set "$varname" -value "$value"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D4D8DAF-8639-4B9E-A180-CB3ABC00284F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>translate_setting</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading settings…</string>
				<key>script</key>
				<string>./app_build -command setting -value "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Save settings to Alfred</string>
				<key>title</key>
				<string>Translate settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9A3463A4-B6D3-4F31-8478-0D22D8060F62</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>translate_setting</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F0DD86ED-9163-4939-93A6-F063F6573A4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./app_build -command setting -get "$name" -value "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Enter new {var:name}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>30DB9203-1D6E-4008-9866-34AD6E273098</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/------------- get -------------\
query={query}
variables={allvars}
\------------- get -------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>CD4505C2-C54E-40FF-B291-B93FA9173EA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/------------- settings -------------\
query={query}
variables={allvars}
\------------- settings -------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>471BDD4E-AC19-42B4-B85A-049E4C247961</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01FC33B9-7FB9-470F-B4B5-27143EF22566</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>04EDFF03-9802-46EC-852B-43F60A8872AF</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>1D4D8DAF-8639-4B9E-A180-CB3ABC00284F</key>
		<dict>
			<key>note</key>
			<string>Save new value</string>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>30DB9203-1D6E-4008-9866-34AD6E273098</key>
		<dict>
			<key>note</key>
			<string>Enter a new value</string>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>3D89CFBD-DEFA-4E74-94B5-C1C6614248DA</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>471BDD4E-AC19-42B4-B85A-049E4C247961</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>9A3463A4-B6D3-4F31-8478-0D22D8060F62</key>
		<dict>
			<key>note</key>
			<string>Show current configuration</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>CD4505C2-C54E-40FF-B291-B93FA9173EA0</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>F0DD86ED-9163-4939-93A6-F063F6573A4E</key>
		<dict>
			<key>note</key>
			<string>Open settings</string>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>api_token</key>
		<string></string>
		<key>lang</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>lang</string>
		<string>api_token</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>http://github.com/skar404/alfred-translate</string>
</dict>
</plist>
